/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=PT+Sans+Narrow&display=swap');

:root {
    --dark-red: #400303;
    --bright-red: #5B1212;
    --yellow: #BF9825;
    --font-size: 16px;
    --line-height: 1.5;
}

body {
  background-color: var(--dark-red);
  padding: 40px;
}

#board {
  width: 360px;
  height: 360px;
  background-color: var(--bright-red);
  border: 10px solid var(--yellow);

  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#board img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--yellow);
}

h1 {
  color: var(--yellow);
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Fredericka the Great', cursive;
  font-size: 60px;
  text-align: center;
}

.footer {
  color: var(--yellow);
  text-transform: uppercase;
  font-family:'PT Sans Narrow', sans-serif;
  font-size: 30px;
  justify-items: center;
  align-items: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--yellow);
    font-size: 30px;
}

.carousel-item {
  text-align: center;
  background-color: var(--bright-red);
  border: 10px solid var(--yellow);
}

img {
  display: block;
  margin: auto;
  text-align: center;
  box-shadow:0px 0px 30px var(--yellow);
}

h4 {
  margin-bottom: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
}

#slick-slide04.slick-slide.slick-active {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  background-color: var(--yellow);
  color: var(--dark-red);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--bright-red);
  color: var(--yellow);
}

