/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=PT+Sans+Narrow&display=swap');

:root {
    --dark-red: #400303;
    --bright-red: #5B1212;
    --yellow: #BF9825;
    --font-size: 16px;
    --line-height: 1.5;
}

body {
  background-color: var(--dark-red);
  padding: 60px;
}

#board {
  width: 360px;
  height: 360px;
  background-color: var(--bright-red);
  border: 10px solid var(--yellow);

  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#board img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--yellow);
}

h1 {
  color: var(--yellow);
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Fredericka the Great', cursive;
  font-size: 60px;
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  color: var(--yellow);
  font-weight: bold;
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}

h4 {
  margin-bottom: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 24px;
  font-weight: bold; 
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--yellow);
    font-size: 30px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: var(--yellow);
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
}

nav a:hover {

}

.carousel-item {
  text-align: center;
  background-color: var(--bright-red);
  border: 10px solid var(--yellow);
  box-shadow: 0px 0px 20px var(--yellow);
}

.carousel-item:hover {
  background-color: var(--yellow);
  transform: scale(1.03); 
  transition: background-color 0.3s, transform 0.3s;
}

.carousel-item:hover h4 {
  color: var(--bright-red);
  transform: scale(1.03); 
}

.art-periods-image {
  width: 50%; 
  height: auto; 
  display: block;
  margin: auto;
  text-align: center;
  box-shadow: 0px 0px 30px var(--yellow);
}

#slick-slide04.slick-slide.slick-active {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  background-color: var(--yellow);
  color: var(--dark-red);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--bright-red);
  color: var(--yellow);
}

footer {
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.footer {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  color: var(--yellow);
  text-decoration: none;
}

.footer:hover {
  text-decoration: underline;
}